header{
	background-color: rgb(25,50,200);
	text-align: center;
	height: 25px;
	border-style: groove;
	color: white;
	box-shadow: rgb(0,0,0);
	font-weight: bold;
	text


}

body{
	background-color: black;
}
